body  {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-decoration:none;
	color:#000000;
	}
a.link       {font-size:14px;font-weight:lighter;color:blue;}
.link        {font-size:14px;font-weight:lighter;color:red;}
.botton      {font-size:16px;font-weight:bold;color:black;}
